  <!-- About section -->
  <div class="row top-buffer">
      <div class="col-sm-4">
          <img src="style/img/mountaineering-1.png" class="profile-img" alt="Profile Image"/>                
      </div> <!--Col left -->

      <div class="col-sm-6 col-md-offset-1">
          <div class="page-header">
            <h1 class="subject-header">Hi, I'm Scott</h1>
            <p class="lead about-me">
                I'm a motivated guy who loves building software and getting stuff done. 
                I prefer backend development but I dabble a bit with the frontend.
                I'm also a big fan of agile processes, both in development and in life.  
            </p>
            
            <ul class="list-inline">
                <li class="contact-info"><strong>Email: </strong><a href="mailto:schretzy929@gmail.com">schretzy929@gmail.com</a></li>
                <li class="contact-info"><strong>Location: </strong>Los Angeles, CA</li>
                <li class="contact-info">Resume: <a href="https://drive.google.com/file/d/0BwQCR7d920riZ3pjWHUwUnBKdkU/view?usp=sharing" target="_blank">PDF</a></li>
            </ul>
                  
          </div>
      </div><!-- Col Right-->
  </div> <!-- End About Row -->
