.company-name {
  font-weight:normal;
  color:#000000;
  letter-spacing:2pt;
  word-spacing:2pt;
  font-size:50px;
  text-align:left;
  font-family:georgia, serif;
  line-height:1;
}

.job-title {
  font-weight:normal;
  color:#000000;
  word-spacing:2pt;
  font-size:40px;
  text-align:left;
  font-family:georgia, serif;
}

.job-description {
  font-size: 25px;
  color: #515151;
}

.job-team-name {
  font-weight:normal;
  color:#000000;
  font-size:30px;
  text-align:left;
  font-family:georgia, serif;
}

.job-key-points {
  font-weight:normal;
  color:#000000;
  font-size:20px;
  text-align:left;
  font-family:georgia, serif;
}