<!-- Northrop Grumman Header -->
<div class="row">
    <div class="col-md-8">
        <h2 id="Northrop-Header" class="company-name">{{company}}</h2>
        <h2 class="job-title ">{{jobTitle}}</h2>                        
    </div>
    <div class="col-md-4">
        <h2 class="subject-sub-date"><small>{{timeRange}}</small></h2>                                                            
    </div>
</div>
<!--Northrop Grumman Header-->

<!--Northrop Grumman Keypoints-->
<div class="row">
    <div class="col-md-12">
        <p class="job-description">{{jobDescription}}</p>

        <p class="job-team-name">{{teamName}}</p>
        <ul>
            <li class="job-key-points">{{keyPoint1}}</li>
            <li class="job-key-points">{{keyPoint2}}</li>
            <li class="job-key-points">{{keyPoint3}}</li>
        </ul>
    </div>
</div> <!-- End Northrop Grumman Keypoints -->