<!-- Northrop Grumman Header -->
<div class="row">
    <div class="col-md-8">
        <h2 id="Northrop-Header" class="company-name">{{company}}</h2>
        <h2 class="job-title ">{{jobTitle}}</h2>                        
    </div>
    <div class="col-md-4">
        <h2 class="subject-sub-date"><small>{{timeRange}}</small></h2>                                                            
    </div>
</div>
<!--Northrop Grumman Header-->

<!--Northrop Grumman Keypoints-->
<div class="row">
    <div class="col-md-12">  
        <app-experience-details
          teamName={{teamName}}
          keyPoint1={{keyPoint1}}
          keyPoint2={{keyPoint2}}
          keyPoint3={{keyPoint3}}>
        </app-experience-details>
    </div>
</div> 
<!-- End Northrop Grumman Keypoints -->