<div class="parallax">
  <div class="container">
    <div class="vertical-center jumbotron">
      <h1 class="text-center">Scott Schretzenmaier</h1>
      <p class="lead text-center">
          Software Engineer, Bug Squsher, Adventure Seeker
      </p>                               
    </div>
  </div>
</div>

<div class="container">

  <app-about></app-about>

  <div id="experience-col" class="col-md-12">
    <h1 class=subject-header>Experience</h1>   

    <app-experience 
      name="Northrop Grumman" timeRange="March/2017-Current" jobTitle="Sotware Engineer"
      jobDescription="I'm currently working with an agile team of talented engineers designing and developing the best mission planning software for the B1 Bomber."
      teamName="B1 Bomber Mission Planning Team"
      keyPoint1="Developed / implemented mission planning algorithms and GUI tools using C# and .Net"
      keyPoint2="Conducted live tests and demos for the application’s new features, enhancements and bug fixes"
      keyPoint3="Engaged in long term application design sessions as well as short term sprint planning meetings">
    </app-experience>

    <app-experience 
      name="Cross Country Travler" timeRange="August/2016 - January/2017" jobTitle="Solo Adventurer"
      jobDescription="A solo 6 month adventure across America summarized 
      using D3"
      teamName=""
      link="https://schretzilla.github.io/adventure-america/index"
      keyPoint1="Volunteered with Samaritan’s Purse helping Louisiana flood victims"
      keyPoint2="Summited 24 of Colorado’s 14,000+ foot mountains"
      keyPoint3="Confirmed strategy and required actions for my five-year plan">
    </app-experience>

    <app-experience 
      name="University of Pittsburgh Medical Center" timeRange="June/2013 - August/2013" jobTitle="Software Engineer Intern"
      jobDescription="A summer internship between my college junior and senior year"
      teamName="E Record Custom App Development"
      keyPoint1="Designed and developed web based tool for administering support for a hierarchy of questions"
      keyPoint2="Actively participated in the team’s new agile scrum software development process"
      keyPoint3="Participated in numerous interviews for open Software Engineer position with team">
    </app-experience>

  </div> <!-- End Experience -->

</div> <!-- End Container -->
    
