

.vertical-center {
    position: absolute;
    top: 10%;
    left: 0;
   bottom: 90%;
   right: 0;
   margin: auto;
   color: white;
}

.jumbotron {
    background-color: transparent;
}

.dl-horizontal {
    font-size: 30;
}

.subject-header {
    font-weight:normal;
    color:#000000;
    word-spacing:2pt;
    font-size:70px;
    text-align:left;
    font-family:georgia, serif;
    text-align: center;
  
  }

.subject-sub-date {
    font-weight:normal;
    color:#000000;
    margin-top:40px;
    font-size:30px;
    font-family:georgia, serif;
    line-height:1;
}

.small-date {
    font-weight:normal;
    color:#000000;
    font-size:15px;
    font-family:georgia, serif;
    line-height:1;
}


.isdr-job-title {
    font-weight:normal;
    color:#000000;
    word-spacing:2pt;
    font-size:30px;
    text-align:left;
    font-family:georgia, serif;
}

.parallax {
    /* The image used */
    background-image: url("style/img/delicate-arch.jpg");

    /* Set a specific height */
    min-height: 1000px; 
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Extend past outside of angular boundries */
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}


/* Turn off parallax scrolling for tablets and phones.*/
@media only screen and (max-device-width: 1024px) {
.parallax {
    background-attachment: scroll;
}
}

body {
    margin: 0;
}