<div class="col-sm-6">
  <div class="thumbnail">
    <img class="card-img-top" src={{imageSrc}}>
    <div class="caption">
      <h3>
        <a target="_blank" href={{projectUrl}} 
        target="_blank">{{projectTitle}}</a>
      </h3>
      <h5><small>{{date}}</small></h5> 
      <p>   
        {{description}}
      </p>  
      <h5>Tools:</h5>
      
      <ul class="list-inline">
        <li *ngFor="let curTool of toolsList">
          <a href={{curTool.url}} target="_blank">{{curTool.name}}</a>
        </li>
      </ul>
      
      <!-- Case where linking to external webpage -->
      <a *ngIf="projectUrl!=null"  target="_blank" href={{projectUrl}} 
      class="btn btn-primary" role="button">{{buttonDescription}}</a>       

      <!-- Case where linking to local route -->
      <a *ngIf="routerLink!=null"  routerLink={{routerLink}}
      class="btn btn-primary" role="button">{{buttonDescription}} </a>        
    </div>
  </div>
</div>