<div class="row">
    <div class="col-md-8">
        <h2 id="Northrop-Header" class="company-name">{{company}}</h2>
        <h2 class="job-title ">{{jobTitle}}</h2>                        
    </div>
    <div class="col-md-4">
        <h2 class="subject-sub-date"><small>{{timeRange}}</small></h2>                                                            
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="job-description">
        {{jobDescription}}
          <a *ngIf="link != null" target="_blank" href={{link}} >here</a>
    </p>   
  </div>
</div>
      